

h3{
    height: 500px;
    background-image: url('WhatsApp\ Image\ 2023-02-16\ at\ 10.46.19.jpg');
    back
    text-align: center;
    font-size: 50px;
    color: yellow;
    
}

p{
    background-color: blue;
    padding: 50px;
    color: aliceblue;
}